@font-face {
  font-family: 'Benzin';
  src: url('fonts/Benzin-Semibold.woff2') format('woff2'),
       url('fonts/Benzin-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}



#h {
  color: rgb(235, 236, 238);
  text-align: center;
  padding-top: 250px;
  font-size: 12vw; 
  font-family: "Benzin";
}

#downbox{
  background-color: #060605;  
  position: relative;  
  z-index: 1;
}

svg{
  position:relative;  
}