@font-face {
  font-family: 'Benzin';
  src: url('fonts/Benzin-Semibold.woff2') format('woff2'),
       url('fonts/Benzin-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RFDewi';
  src: url('fonts/RFDewiExtended-Semibold.woff2') format('woff2'),
      url('fonts/RFDewiExtended-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}



#h {
  color: rgb(235, 236, 238);
  text-align: center;
  padding-top: 230px;
  font-size: 12vw; 
  font-family: "Benzin";
}

#j {
  color: #dfecf9;
  text-align: center;
  font-size: 4vw; 
  font-family: "RFDewi";
}

.square {
  height: 5px;
  border-radius: 25px;
  width: 20px;
  background-color: #437ef4;
}

#downbox{
  background-color: #060605;  
  position: relative;  
  z-index: 1;
}

svg{
  position:relative;  
}

@media screen and (max-width:800px){
  #j{
    white-space: pre-wrap;
    font-size: 6vw;
  }
  #h{
    font-size: 14vw;
  }
}

